# Neon Tech PostgreSQL Database
DATABASE_URL="postgresql://neondb_owner:npg_vnJOB4ex2DzP@ep-proud-mode-axoyoljt-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Cloudinary CDN Storage
CLOUDINARY_CLOUD_NAME="eta3mkod"
CLOUDINARY_API_KEY="554474578698792"
CLOUDINARY_API_SECRET="aXiH8vWKivNR1MighFWoCVr6vg4"
CLOUDINARY_URL="cloudinary://554474578698792:aXiH8vWKivNR1MighFWoCVr6vg4@eta3mkod"

# Master Admin PIN & JWT
ADMIN_MASTER_KEY="22222222"
JWT_SECRET="crm_super_secret_jwt_2026_key"

# Port
PORT=4000
NODE_ENV=production
